ul.eweeye-treeview {
    list-style: none;
    display: inline;
}

ul.eweeye-treeview div {
    display: inline-block;
    border: 1px;
    border-style: solid;
    border-color: darkblue;
    min-width: 10px;
    min-height: 10px;
}

ul.eweeye-treeview ul {
    list-style: none;
    display: table;
    border: 1px;
    border-style: solid;
    border-color: purple;
    min-width: 10px;
    min-height: 10px;   
    padding-left: 10px;
}

ul.eweeye-treeview ul > div {
    display: table;
    min-width: 10px;
    min-height: 10px;
}

ul.eweeye-treeview button > * {
    margin-left: 5px;
    margin-right: 5px;
}

ul.eweeye-treeview button > *:first-child {
    margin-left: 0;
    margin-right: 5px;
}

ul.eweeye-treeview button > *:last-child {
    margin-left: 5px;
    margin-right: 0;
}