ul.eweeye-treeview {
    list-style: none;
    display: inline;
}

ul.eweeye-treeview div {
    display: inline-block;
}

ul.eweeye-treeview ul.children {
    list-style: none;
    display: table;
    border: 1px;
    padding-left: 10px;
}

ul.eweeye-treeview ul.children.hidden {
    display: none;
}

ul.eweeye-treeview ul.children > div {
    display: table;
}

ul.eweeye-treeview button.main {
    margin-left: 5px;
    margin-right: 5px;
}

ul.eweeye-treeview button.main div.icon {
    margin-left: 0;
    margin-right: 5px;
}

ul.eweeye-treeview button.main div.label {
    margin-left: 5px;
    margin-right: 0;
}

ul.eweeye-treeview button.main {
    background: none;
    border: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    font-family: arial, sans-serif;
    text-decoration: none;
    cursor: none;
}

ul.eweeye-treeview div.self button.main:hover {
    background: none;
    border-color: teal;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    transition: all 0.4s ease 0s;    
}

ul.eweeye-treeview div.self button.main:focus {
    outline: none;
    background: none;
    border-color: teal;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); 
    transition: all 0.4s ease 0s;   
}